body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
}

header {
    position: fixed;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
}

nav {
    width: 100%;
    max-width: 840px;
    font-weight: 800;
    padding: 0px 20px;
}

nav a {
    color: black;
    text-decoration: none;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.content-container {
    margin: 77px 0px;
    padding: 0px 20px;
    width: 100%;
    max-width: 840px;
}

#banner-canvas {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    overflow: hidden;
}

#canvas {
    width: 100%;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 31px;
    overflow: hidden;
}

.breaker {
    margin: 20px 0px;
    position: relative;
}

.breaker hr {
    width: 100%;
}

.breaker-flower {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 10px;
    top: -15px;
    width: 32px;
    height: 32px;
    background-color: white;
}

.breaker-flower svg {
    width: 32px;
    height: 32px;
}


#chooseColor {
    margin: 15px 0px;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 7px;
    border: 2px solid #d8d8d8;
}

button {
    margin: 15px 0px;
    padding: 6px 12px;
    background-color: #007bff;
    font-size: 16px;
    line-height: 24px;
    color: white;
    border-radius: 7px;
    border: none;
    font-weight: 400;
    touch-action: manipulation;
    cursor: pointer;
}

footer {
    width: 100%;
    padding: 50px 0px;
    color: white;
    background-color: #123243;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer h3 {
    margin: 0;
    font-size: 14px;
    line-height: 1.8;
    font-weight: 400;
}

footer a {
    text-decoration: none;
    color: white;
}